* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {

    padding-left: 98px;
    padding-right: 98px;
}

.content {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url("../source/image/slider-bg/slider-img.jpg");
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
    padding-top: 52px;
}

.search {
    padding-top: 11px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 13px 10px 13px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 235px;
}

.slider-trending {
    width: 109px;
    height: 13px;
    color: #43a047;
    font-size: 22px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 22px;
}

.slider-header {
    color: #212121;
    font-size: 58px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    height: 43px;
    margin-bottom: 34px;
    margin-left: -5px;
    
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.order-button {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;

    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: left;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding-left: 31px;
}

.order-button:hover {
    background: #83aeb5;
    cursor: pointer;
}

.order-button:active {
    box-shadow: 0 1px 5px 1px rgba(33, 33, 33, 0.35);
}
.order-button:hover .arrow{
    display: inline;
}

.arrow {
    width: 9px;
    height: 12px;
    display: none;
    padding-left: 17px;
}
/*
.arrow:active {
    visibility: visible;
}*/
.slider-pagination {
    position: absolute;
    text-align: center;
    width: 1170px;
    bottom: 19px;
}

.circle {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    height: 40px;
    width: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.tabs {
    height: 610px;
}

.tabs-title{
    padding-top: 120px;
}
.tabs-title-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    
    float: left;
    padding: 10px 15px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.link-active {
    color: #212121;
    transition: color linear 0.2s;
    border-bottom: 3px solid;
}

.tabs-title-link:active{
    color: #212121;
    border-bottom: 3px solid;
}

.tabs-title-link:hover {
    color: #212121;
}



.explore-all{
    text-align: left;
    display: block;
}
.explore {
    color: #212121;
    float: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    padding: 10px 30px 0px 0px;
   
}

.explore:hover {
    text-decoration: underline;
    transition: 0.5s;
    display: inline;
}

.explore:hover .arrow{
    display: inline;
    transition: 0.5s;
}



.tabs-list {
    width: 1270px;
}

.tabs-product {
    width: 270px;
    height: 270px;
    padding-right: 30px;
    position: relative;
}

.tabs-product:hover{
  opacity: 0.2;
}
.tabs-product:hover .block{
  display: block;
}
.block {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    padding:5px;
    display:none;
}

.exclusive {
    height: 683px;
}

.exclusive-left {
    width: 683px;
    height: 683px;
    float: left;
    background-image: url("../source/image/slider-bg/promo-img1.jpg");
}

.exclusive-right {
    width: 683px;
    height: 683px;
    float: right;
    background-image: url("../source/image/slider-bg/promo-img.jpg");
}

.exclusive-content {
    height: 204px;
    margin-top: 228px;
    margin-left: 51px;
}

.exclusive-title {
    color: #1e88e5;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-text {
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.04px;

    margin-top: 24px;
    margin-bottom: 34px;
    padding-bottom: 34px;
}

.trending {
    height: 1108px;
}

.trending-title {
    height: 38px;
    padding-top: 120px;
}

.trending-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-list {
    margin-top: 64px;
}

.trending-product {
    width: 370px;
    height: 370px;
    list-style: none;
}

.trending-product-image {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.trending-product-image-middle {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0px;
    margin-bottom: 30px;
}
.hot {
    height: 800px;
    /*position: relative;*/
    background-image: url("../source/image/slider-bg/slider.jpg");

    /*padding-top: 287px;
    padding-left: 99px;*/
}

.hot-content {
    padding-top: 287px;
    padding-left: 99px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-block {
    height: 810px;
    padding-top: 120px;
}

.exclusive-panel {
    width: 570px;
    height: 570px;

    float: left;
    background-image: url("../source/image/products/product-1-lg.jpg");
}

.exclusive-catalog {
    padding-top: 186px;
    padding-left: 31px;
}

.exclusive-list {
    float: right;
    margin-left: 30px;
}

.exclusive-list-link img {
    margin: 10px 6px;
}

.mobile-block {
    height: 516px;
    background-image: url("../source/image/slider-bg/mobile.jpg");
}

.mobile-block-content {
    padding-top: 125px; 
    padding-bottom: 120px;
    padding-left: 99px;
}

.mobile-block-title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-block-text {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 33px;
}

.appstore,
.playmarket {
    height: 40px;
    width: 135px;
    margin-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;

    padding-top: 120px;
    padding-bottom: 39px;
}

/*.information-block{

}*/
.contact-us {
    float: left;
    margin-right: 80px;
}

.contact-header,
.information-header,
.email-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    margin-bottom: 24px;
}

.contact-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.information {
    float: left;
    margin-right: 80px;
}

.information-links-list {
    list-style-type: none;
}

.information-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.information-left-links {
    float: left;
    margin-right: 100px;
}

.information-right-links {
    float: left;
}

/*.email{
    float: left;
}*/
.email-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.email-form{
  padding-left: 777px;
}

input[type="email"] {
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    width: 370px;
    height: 48px;
    text-align: left;
    padding-left: 15px;
    margin-top: 26px;
}

input[type="image"] {
    margin-left: -50px;
    width: 21px;
    height: 20px;
    border: none;
    vertical-align: bottom;
    padding-bottom: 13px;
}

/*.copyright-block{

}*/
.copyright-text,
.terms {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.copyright {
    float: left;
    margin-right: 158px;
}

.social {
    float: left;
    width: 129px;
    height: 28px;
    margin-right: 128px;
}