* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.content {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url("../source/image/slider-bg/slider-img.jpg");
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
    padding-top: 52px;
}

.search {
    padding-top: 11px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 13px 10px 13px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 235px;
    padding-bottom: 140px;
}

.slider-trending {
    width: 109px;
    height: 13px;
    color: #43a047;
    font-size: 22px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 22px;
}

.slider-header {
    color: #212121;
    font-size: 58px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    height: 43px;
    margin-bottom: 34px;
    margin-left: -5px;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.order-button {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;

    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: left;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding-left: 31px;
}

.order-button:hover {
    background: #83aeb5;
    cursor: pointer;
}

.order-button:active {
    box-shadow: 0 1px 5px 1px rgba(33, 33, 33, 0.35);
}

.order-button:hover .arrow {
    display: inline;
}

.arrow {
    width: 9px;
    height: 12px;
    display: none;
    padding-left: 17px;
}

.slider-pagination {
    text-align: center;
    width: 1170px;
    bottom: 19px;
}

.circle {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    height: 40px;
    width: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.tabs {
    height: 610px;
}

.tabs-title {
    padding-top: 120px;
    padding-bottom: 50px;
}

.tabs-title-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;

    float: left;
    padding: 9px 31px 19px 0px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.link-active {
    color: #212121;
    transition: color linear 0.2s;
    border-bottom: 3px solid;
}

.tabs-title-link:active {
    color: #212121;
    border-bottom: 3px solid;
}

.tabs-title-link:hover {
    color: #212121;
}

.explore-all {
    text-align: left;
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.explore {
    color: #212121;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    padding: 10px 0px 0px 0px;
}

.explore-all-link {
    padding-left: 970px;
}

.explore:hover {
    text-decoration: underline;
    transition: 0.5s;
    display: inline;
}

.explore:hover .arrow {
    display: inline;
    transition: 0.5s;
}

.tabs-list {
    width: 1270px;
    padding-bottom: 120px;
    height: 270px;
}

.tabs-product {
    width: 270px;
    height: 270px;
    padding-right: 30px;
    position: relative;
    text-decoration: none;
    color: #212121;
    display: inline-block;
}

.tabs-product:hover .block {
    display: block;
     background-color: #ffffff;
      opacity: 0.9;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
    text-align: center;
}

.tabs-product-circle {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    margin-top: 57px;
    margin-left: 111px;
    margin-right: 111px;
    margin-bottom: 19px;
}

.tabs-product-arrow {
    position: relative;
    padding-top: 14px;
    height: 20px;
}

.tabs-product-title {
    height: 17px;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    padding-bottom: 23px;
}

.tabs-product-description {
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    padding-left: 32px;
    padding-right: 32px;
}

.exclusive {
    height: 683px;
}

.exclusive-left {
    width: 683px;
    height: 683px;
    float: left;
    background-image: url("../source/image/slider-bg/promo-img1.jpg");
}

.exclusive-right {
    width: 683px;
    height: 683px;
    float: right;
    background-image: url("../source/image/slider-bg/promo-img.jpg");
}

.exclusive-content {
    height: 204px;
    margin-top: 228px;
    margin-left: 51px;
}

.exclusive-title {
    color: #1e88e5;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-text {
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.04px;

    margin-top: 24px;
    margin-bottom: 34px;
    padding-bottom: 34px;
}

.trending {
    height: 1108px;
}

.trending-title {
    height: 38px;
    padding-top: 120px;
}

.trending-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-list {
    margin-top: 64px;
}

.trending-list-top {
    height: 370px;
    margin-bottom: 30px;
}

.trending-list-bottom {
    height: 370px;
    margin-bottom: 0px;
}

.trending-product {
    width: 370px;
    height: 370px;
    list-style: none;
}

.trending-product-image {
    margin-right: 0px;
    margin-left: 0px;
}

.trending-product-image-middle {
    padding-right: 30px;
    padding-left: 30px;
}

.hot {
    height: 800px;
    position: relative;
    background-image: url("../source/image/slider-bg/slider.jpg");
    position: relative;
}

.hot-content {
    padding-top: 287px;
    padding-bottom: 180px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-block {
    height: 570px;
    margin-bottom: 120px;
    margin-top: 120px;
}

.exclusive-panel {
    width: 570px;
    height: 570px;

    float: left;
    background-image: url("../source/image/products/product-1-lg.jpg");
}

.exclusive-catalog {
    padding-top: 186px;
    padding-left: 31px;
}

.exclusive-list-top {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 270px;
}

.exclusive-list-bottom {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    height: 270px;
}

.exclusive-list-link img {
    margin-right: 30px;
}

.mobile-block {
    height: 516px;
    background-image: url("../source/image/slider-bg/mobile.jpg");
    position: relative;
}

.mobile-block-content {
    padding-top: 125px;
    padding-bottom: 120px;
    padding-left: 99px;
}

.mobile-block-title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-block-text {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 33px;
}

.appstore,
.playmarket {
    height: 40px;
    width: 135px;
    margin-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
}

.information-block {
    padding-top: 120px;
    padding-bottom: 39px;
}

.contact-us {
    float: left;
    margin-right: 80px;
}

.contact-header,
.information-header,
.email-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    margin-bottom: 24px;
    height: 13px;
}

.contact-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

    width: 221px;
    height: 102px;
}

.information {
    float: left;
    margin-right: 80px;
}

.information-links-list {
    list-style-type: none;
}

.information-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
    width: 132px;
    height: 62px;
}

.information-left-links {
    float: left;
    margin-right: 65px;
}

.information-right-links {
    float: left;
}

.email-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

    height: 36px;
}

.email-form {
    padding-left: 761px;
}

input[type="email"] {
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    width: 353px;
    height: 48px;
    text-align: left;
    padding-left: 15px;
    margin-top: 16px;
}

input[type="image"] {
    margin-left: -50px;
    width: 21px;
    height: 20px;
    border: none;
    vertical-align: bottom;
    padding-bottom: 13px;
}

.copyright-block {
    height: 28px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: top;
}

.copyright-text,
.terms {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.copyright {
    float: left;
    margin-right: 158px;
}

.social {
    float: left;
    width: 129px;
    height: 25px;
    margin-right: 128px;
    line-height: 26px;
}

.scroll-up-btn {
    z-index: 9999;
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 25px;
    opacity: 0;
    transition: 0.5s;
    display: none;
}

.scroll-up-btn-visible {
    display: block;
    opacity: 0.7;
}

.scroll-up-size {
    height: 80px;
    width: 80px;
}

.scroll-up-btn-visible:hover {
    opacity: 1;
}