* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;

}

.content {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url("../source/image/MainPhotos/slider-img.jpg");
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 235px;
}

.slider-trending {
    width: 109px;
    height: 13px;
    color: #43a047;
    font-size: 22px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 22px;
}

.slider-header {
    color: #212121;
    font-size: 58px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    height: 43px;
    margin-bottom: 34px;
    letter-spacing: 0px;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.order-button {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;

    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.order-button:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.arrow {
    width: 9px;
    height: 12px;
    /*background-color: #212121;*/
}

.slider-pagination {
    position: absolute;
    text-align: center;
    width: 1170px;
    bottom: 19px;
}

.circle {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    height: 40px;
    width: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.tabs {
    height: 610px;
    padding-top: 120px;
}

/*.tabs-title{

}*/
.tabs-title-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    ;
    float: left;
    padding: 10px 15px;
    text-decoration: none;
}

.link-active {
    color: #212121;
    transition: color linear 0.2s;
}

.tabs-title-link:hover {
    color: #212121;
}

.explore {
    color: #212121;
    float: right;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    padding: 30px;
    ;
}

.explore:hover {
    text-decoration: underline;
}

.tabs-list {
    width: 1170px;
}

.tabs-product {
    width: 270px;
    height: 270px;
    margin-right: 9px;
    margin-left: 10px;
}

.exclusive {
    height: 683px;
}

.exclusive-left {
    width: 683px;
    height: 683px;
    float: left;
    background-image: url("../source/image/MainPhotos/promo-img1.jpg");
}

.exclusive-right {
    width: 683px;
    height: 683px;
    float: right;
    background-image: url("../source/image/MainPhotos/promo-img.jpg");
}

.exclusive-content {
    height: 204px;
    margin-top: 228px;
    margin-left: 51px;
}

.exclusive-title {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-text {
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.04px;

    margin-top: 24px;
    margin-bottom: 34px;
}

.trending {
    height: 1110px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.trending-title {
    height: 38px;
}

.trending-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-list {
    margin-top: 64px;
}

.trending-product {
    width: 370px;
    height: 370px;
}

.trending-product-image {
    margin-top: 30px;
    margin-right: 17px;
}

.hot {
    height: 800px;
    /*position: relative;*/
    background-image: url("../source/image/MainPhotos/slider.jpg");

    /*padding-top: 287px;
    padding-left: 99px;*/
}

.hot-content {
    margin-top: 287px;

    padding-top: 287px;
    padding-left: 99px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-block {
    height: 810px;
    padding-top: 120px;
}

.exclusive-panel {
    width: 570px;
    height: 570px;

    float: left;
    background-image: url("../source/image/Products/product-1-lg.jpg");
}

.exclusive-catalog {
    padding-top: 186px;
    padding-left: 31px;
}

.exclusive-list {
    float: right;
    margin-left: 30px;
}

.exclusive-list-link img {
    margin: 10px 6px;
}

.mobile-block {
    height: 516px;
    background-image: url("../source/image/MainPhotos/mobile.jpg");
}

.mobile-block-content {
    padding: 125px 99px;
}

.mobile-block-title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-block-text {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;

    margin-top: 20px;
    margin-bottom: 33px;
}

.appstore,
.playmarket {
    height: 40px;
    width: 135px;
    margin-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;

    padding-top: 120px;
    padding-bottom: 39px;
}

/*.information-block{

}*/
.contact-us {
    float: left;
    margin-right: 80px;
}

.contact-header,
.information-header,
.email-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    margin-bottom: 24px;
}

.contact-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.information {
    float: left;
    margin-right: 80px;
}

.information-links-list {
    list-style-type: none;
}

.information-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.information-left-links {
    float: left;
    margin-right: 100px;
}

.information-right-links {
    float: left;
}

/*.email{
    float: left;
}*/
.email-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

/*.email-input{
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    width: 370px;
}*/
input[type="search"] {
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    width: 370px;
    height: 48px;
    text-align: left;

    margin-top: 26px;
}

input[type="submit"] {
    width: 21px;
    height: 17px;
    border: none;
    background: url("../source/image/Icons/teleg.png") no-repeat 50% 50%;
}

/*.copyright-block{

}*/
.copyright-text,
.terms {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.copyright {
    float: left;
    margin-right: 158px;
}

.social {
    float: left;
    width: 129px;
    height: 28px;
    margin-right: 128px;
}